<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Our Website</title>
</head>
<body>
    <div class="container" style="text-align: center">
            <h1>This is our official Website</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero impedit, perspiciatis maxime 
                dolorem asperiores dignissimos minima eius blanditiis placeat ipsam? Quasi, at officiis
                asperioresaut praesentium molestiae laborum natus ad dolorum odit aliquid, voluptatum quidem
                dolore eius,voluptate dolores expedita nihil quod libero. Dicta magni repudiandae illo quaerat
                ratione quae.</p>
            <button>Contact Us</button>
    </div>
</body>
</html>